<%- include('../includes/head2.ejs') %>
<%- include('../includes/navigation2.ejs') %>
<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="col-md-3 d-flex">
            <div class="info bg-white p-4">
                <h1>Ova stranica nije pronadjena ili nepostoji!</h1>
            </div>
        </div>
    </div>
</section>
<%- include('../includes/end2.ejs') %>