<%- include('../includes/head2.ejs') %>
<%- include('../includes/navigation2.ejs') %>
<div class="container">
        <div class="col-md-3 d-flex">
            <div class="info bg-white p-4">
                <h1>Došlo je do greške!</h1>
                <p>Radimo na tome da otklonimo grešku, oprostite na neprijatnosti!</p>
            </div>
        </div>
</div>
<%- include('../includes/end2.ejs') %>